@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding:0px;
    margin:0px;
}

.main{
    margin: 50px 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header{
    position:relative;
    height: 80px;
}

.crush{
    color:#4D49AD;
}

.logo{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    margin:auto 0px;
    height: fit-content;
}

.logo img{
    width: 120px;
}

.nav{
    position: absolute;
    top:0px;
    bottom:0px;
    left:200px;
    margin:auto 0px;
    height: fit-content;
}

.nav-item{
    display: inline;
    margin:0px 10px;
}

.nav-link{
    text-decoration: none;
    color:#B3B3B3;
}

.nav-link.active{
    color:#000000;
}

.contact{
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    margin:auto 0px;
    height: fit-content;
}

.contact button{
    background: #5955B3;
    border-radius: 10px;
    padding:15px 20px;
    border:none;
    color:#ffffff;
    font-weight: 600;
}

.left{
    padding: 100px 0px;
    width: 400px;
}

.heading{
    font-size: 30px;
    font-weight: 600;
}

.quote{  
    margin:20px 0px;
}

.services-button{
    margin:20px 0px;
}

.services-button button{
    background: #5955B3;
    border-radius: 10px;
    padding:15px 20px;
    border:none;
    color:#ffffff;
    font-weight: 600;
}

.bg{
    position: absolute;
    right:0px;
    top:150px;
}

.bg img{
    width: 800px;
}